





  <h3>Data:</h3>

<!-- In JavaScript, we can map the data as follows: 
data.entities.map( c => ({ type: c.type, title: c.text, relevance: c.relevance, score: c.sentiment.score, count: c.count }) )
...instead, we'll do this on the back end in the contholler
-->

<h3>Analysis of Entities mentioned in <%= @link.title %></h3>

<table>
<tr>
  <th>#</th>
  <th>Type</th>
  <th>Title</th>
  <th>Relevance </th>
  <th>Score</th>
<!--   <th>Count</th><br>
  <th>Subtype</th><br>
  <th>Website</th> -->

</tr>
<% @data.each_with_index do |entity,index|  %>
<tr>
  <td><a class="trigger-modal" data-toggle="modal" data-target="#myModal"><%= index+1 %></a></td>
  <td><%= entity[:type] %></td>
  <td><%= entity[:title] %></td>
  <td><%= entity[:relevance] %></td>
  <td><%= entity[:score] %></td>
  <td><%#= entity[:count] %></td>
  <td><%#= entity[:subtype] %></td>
   <td><%#= entity[:website] %></td>
   <td><%#= entity[:dbpedia] %></td>
</tr>
<% end %>
</table>

<% @data.each_with_index do |entity,index|  %>
    <div id="data_<%= index+1 %>" style="display:none;">
    <h3>Count</h3>
    <li><%= entity[:count] %></li>
    <h3>Subtype</h3>
    <li><%= entity[:subtype] %></li>
    <h3>Website</h3>
    <li><%= entity[:website] %></li>
    <li><%= entity[:dbpedia] %></li>
    <li><%= entity[:freebase] %></li>
    <li><%= entity[:yago] %></li>
</div>
<% end %>

<table>
<h3>Taxonomy of Entities mentioned in <%= @link.title %></h3>
<tr>
  <th>#</th>
  <th>Type</th>
  <th>Score</th>
</tr>

<% @responseTaxonomy.each_with_index do |tax, index| %>
<tr>
  <td><%= index+1 %></td>
  <td><%= tax[:type] %></td>
  <td><%= tax[:score] %></td>
  </tr>
  <% end %>
</table>
 
 <!-- Button trigger modal -->
<a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display:none;">
  Launch demo modal
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%#= @data %>
<%#= @responseTaxonomy %>