<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %><br><br>



entitites 
<pre>
  <%= @testJsonEntities %>
</pre>

keyword
<pre>
<%= @testJsonKey %>
<%= @sentiment %>
<%= @relevance %>
<%= @text %>
</pre>

concepts
<pre>
<%=  @testJsonConcepts %>
</pre>


sentiment
<pre>
<%= @testJsonSentiment %>
<%= @sentiment_type %>
<%= @sentiment_score %>

</pre>


sentiment targeted
<pre>
 <%#= @testJsonSentimentTargeted %>
 <%#= @final_targeted_sentiment %>
</pre>



full text
<pre>
<%= @testJsonText %>
<%= @Texttext %>
</pre>




author
<pre>
  <%= @testJsonAuthor %>
</pre>

language
<pre>
  <%= @testresponseLanguage %>
</pre>

title
<pre>
  <%= @responseTitle %>
</pre>

relations
<pre>
  <%= @testJsonRelations %>
</pre>

text catigorie 
<pre>
  <%= @testJsonCategory %>
</pre>

feed
<pre>
  <%= @testJsonFeed %>
</pre>

microformat
<pre>
  <%= @testJsonMicroformat %>
</pre>

taxonmony
<pre>
  <%= @testJsonTaxonomy %>
</pre>

image extract
<pre>
  <%= @testJsonImg %>
</pre>

combined
<pre>
  <%= @testJsonCombined %>
</pre>

knowing a image
<pre>
  <%= @testJsonImage_tag %>
</pre>













