<div class="page-header">
  <h1><a href="<%= @link.url %>"><%= @link.title %></a><br> <small>Submitted by <%= @link.user.name %></small></h1>
</div>
<% if @link.user == current_user -%>
  <div class="btn-group">
    <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
    <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
<% end %>


entitites 
<pre>
  <%= @testJsonEntities %>
</pre>

keyword
<pre>
<%= @testJsonKey %>
<%= @sentiment %>
<%= @relevance %>
<%= @text %>
</pre>

concepts
<pre>
<%=  @testJsonConcepts %>
</pre>


sentiment
<pre>
<%= @testJsonSentiment %>
<%= @sentiment_type %>
<%= @sentiment_score %>

</pre>


sentiment targeted
<pre>
 <%#= @testJsonSentimentTargeted %>
 <%#= @final_targeted_sentiment %>
</pre>



full text
<pre>
<%= @testJsonText %>
<%= @Texttext %>
</pre>




author
<pre>
  <%= @testJsonAuthor %>
</pre>

language
<pre>
  <%= @testresponseLanguage %>
</pre>

title
<pre>
  <%= @responseTitle %>
</pre>

relations
<pre>
  <%= @testJsonRelations %>
</pre>

text catigorie 
<pre>
  <%= @testJsonCategory %>
</pre>

feed
<pre>
  <%= @testJsonFeed %>
</pre>

microformat
<pre>
  <%= @testJsonMicroformat %>
</pre>

taxonmony
<pre>
  <%= @testJsonTaxonomy %>
</pre>

image extract
<pre>
  <%= @testJsonImg %>
</pre>

combined
<pre>
  <%= @testJsonCombined %>
</pre>

knowing a image
<pre>
  <%= @testJsonImage_tag %>
</pre>













